spring:
  application:
    name: dataproject
  profiles:
    active: local
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/dataproject}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 5000
        order_inserts: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

app:
  storage:
    path: "${STORAGE_PATH:C:\\var\\log\\applications\\API\\dataprocessing\\}"
