spring:
  application:
    name: dataproject
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://ep-hidden-poetry-ai90pmbu-pooler.c-4.us-east-1.aws.neon.tech/neondb?user=neondb_owner&password=npg_8iUyFogAIbX2&sslmode=require&channelBinding=require}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        order_inserts: true

app:
  storage:
    path: "C:\\var\\log\\applications\\API\\dataprocessing\\"
